.success, .failure {
  font-size: 1.2rem;
  background-color: #ccc;
  padding: 0.4em 0.8em;
  margin-bottom: 0.4em;
}

.success {
  color:green;
  border: 4px solid green;
}

.failure {
  color: crimson;
  border: 4px solid crimson;
}