ul {
    list-style-type: none;
}

button, p {
    margin: 0.2em;
    display: inline-block;
}

img {
    border: 2px solid gray;
}

.info-message {
    display: block;
}

.icon {
    border-radius: 1.2em;
    border-color: dodgerblue;
}